.about {
    background-color: var(--bg-main-grey);
    text-align: center;
    padding: 60px 30px 100px;
    margin: 70px 0 0 0;
    color: var(--color-main-black);
}

.about-title {
    font-size: 34px;
    font-weight: 700;
}

.about-subtitle-ru {
    font-size: 18px;
    font-weight: 500;
    margin: 43px auto 15px;
    max-width: 780px;
}

.about-description-ru,
.about-description-en {
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 16px;
    text-align: justify;
    max-width: 780px;
}

.about-subtitle-en {
    font-size: 18px;
    font-weight: 500;
    margin: 18px auto 8px;
    max-width: 780px;
}

@media (max-width: 480px) {

    .about-subtitle-ru,
    .about-description-ru,
    .about-description-en,
    .about-subtitle-en {
        font-size: 14px;
    }

}