.contacts {
    padding: 55px 30px 63px;
    text-align: center;
}

.contacts-title {
    font-weight: 700;
    font-size: 34px;
    color: var(--color-main-black)
}

.contacts-button {
    width: 211px;
    height: 42px;
    background-color: var(--color-main-black);
    border: none;
    border-radius: 21px;
    margin: 75px 0 30px;
}

.contacts-button:hover {
    opacity: .8;
}

.button-link {
    font-weight: 500;
    font-size: 24px;
    color: var(--bg-main);
}

.socials {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.social-icon {
    width: 65px;
    height: 65px;
    fill: var(--color-main-black);
}

.social-icon:hover {
    fill: lightcoral;
}

.contacts-info {
    width: 260px;
    margin: 35px auto 0;
    color: var(--font-color-grey);
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 480px) {

    .social-icon {
     width: 55px;
     height: 55px;
    }
    .socials{
     gap: 20px;
    } 
    .contacts-info {
     font-size: 14px;
    }
}