.portfolio {
    background-color: var(--bg-main-grey);
    max-width: 1445px;
    min-width: 100%;
    max-height: 2580px;
    min-height: 100%;
    padding: 80px 0 108px;
    text-align: center;
}

.portfolio-title {
    font-size: 34px;
    font-weight: 700;
}

.portfolio-picture1,
.portfolio-picture2,
.portfolio-picture3 {
    width: min(100%,950px);
    height: min(100%,630px);
    object-fit: contain;
    padding: 95px 30px 39px;
}
.picture1-description,
.picture2-description,
.picture3-description {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 480px) {

    .picture1-description,
    .picture2-description,
    .picture3-description {
        font-size: 14px;
    }
    .portfolio-picture1,
    .portfolio-picture2,
    .portfolio-picture3 {
        padding: 50px 30px 30px;
    }
    .portfolio {
        padding: 40px 0 50px;
    }

}